<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }}</title>

    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width">
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    {% set active = active|default(null) %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">{{ 'Silex Kitchen Sink Edition'|trans }}</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li {% if 'homepage' == active %}class="active"{% endif %}><a href="/">{{ 'Homepage'|trans }}</a></li>
                        <li {% if 'page_with_cache' == active %}class="active"{% endif %}><a href="#">Cache sample</a></li>
                        <li {% if 'form' == active %}class="active"{% endif %}><a href="#">Form sample</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Account <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                    <li><a href="#">{{ 'Login'|trans }}</a></li>
                                    <li><a href="#">{{ 'Register'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        {{ knp_menu_render('main') }}
        <div id="main" role="main" class="container">
            {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
