<p>
    Наша служба доставки коммерческих посылок предлагает доставку посылок <strong>в любую страну</strong> и из любой точки Мира. Азия, Северная Америка, Южная Америка, Африка с нами становятся так же близки, как и соседний к Вам город!
</p>
<img src="{{ image_path }}/geography.jpg" alt="{{ page.title }}" />

<h2><a name="asia">Азия</a></h2>
<h3 class="inner-header"><a href="{{ locale.uri }}/geography/china" name="china">Китай</a></h3>
<p>
    Китай - безусловный лидер по международным перевозкам в Россию. Мы создали целый раздел по <a href="{{ locale.uri }}/geography/china">доставке товаров из Китая</a>.
</p>

<h3><a name="japan">Япония</a></h3>
<p>
    Мы предлагаем также и доставку товаров из Японии и доставку посылок в Японию через наши европейские склады консолидации.        
</p>

<h2><a name="america">Америка</a></h2>
<h3 class="inner-header"><a name="usa">США</a></h3>
<p>
    Доставка товаров из США ничем не отличается от доставки из любой другой точки Мира. Доставка одежды из США, доставка техники из США – вот темы многих обращений к нам. Можем ли мы предложить доставку заказов и <a href="{{ locale.uri }}/customs">растаможку грузов</a> из США? Отвечаем: Да, мы можем предложить Вам дешевую доставку из США. И да, мы осуществляем <strong>доставку сборных грузов из США</strong> и доставку товаров из магазинов США и доставку вещей из США в случаях, когда эти посылки сложно получить на Ваше имя.
</p>
<p>
    Способы доставки карго из США то же, что и из Азии: курьерской службой, самолетом или морем сборным или полным контейнером. В зависимости от объемов Вашего груза и срочности доставки.
</p>

<h3><a name="canada">Канада</a></h3>
<p>
    Канада – крупная экономика. Хотя доставка грузов из Канады и <strong>доставка посылок из Канады</strong> востребованы нашими клиентами не столь сильно, как можно было бы ожидать.
</p>

<h2><a name="europe">Европа</a></h2>
<p>
    Мы осуществляем <strong>доставку грузов из Европы</strong>, в том числе доставку сборных грузов из Европы. Перевозка сборного груза из Европы (еще говорят - карго из Европы) обычно осуществляется автотранспортом, реже – самолетами. Для посылок, разумеется, предпочтительны курьерские службы. Использование Европейской почты также возможно, хотя и нежелательно в виду трудностей отслеживания.
</p>
<p>
    Мы можем предложить доставку одежды из Европы по весьма привлекательным тарифам за кубометр объема. 
</p>
<p>
    Возможна <strong>доставка из магазинов Европы</strong>. В случаях, когда эту посылку невозможно без проблем получить на собственное имя.
</p>
<p>
    Но одно из основных направлений нашей деятельности это, конечно, доставка посылок из Европы. Хотя там, где посылка, там и сборные грузы из Европы – мы не ограничиваем Вас ни в минимальном, ни в максимальном объеме отправления!
</p>
<p>
    В случае необходимости, мы поможем <strong>осуществить оплату</strong> Вашим европейским поставщикам от лица наших европейских партнеров. Подробнее Вы можете узнать об этой услуге здесь или связавшись с нами;</p>
<p>
    При отправке грузов примерно в одно время от разных поставщиков из соседних городов (и даже стран), вам может быть интересна услуга по <a href="{{ locale.uri }}/container#consolidation">консолидации грузов в Европе</a> на нашем складе для их дальнейшей доставки любым видом транспорта.<br />
    Как Вам известно:
</p>
<ul>
    <li>
        Чем больше груз, тем ниже тариф на доставку за кг или куб.м.
    </li>
    <li>
        Вам не придется платить документальные сборы и брокерские вознаграждения за каждый из <br />грузов — эти суммы обычно не зависят (совсем или почти) от размеров груза.
    </li>
    <li>
        Консолидация осуществляется на складе в порту Гамбург (город Любек), Германия или в городе Лаппеенранта, Финляндия.
    </li>
</ul>
<img src="<?php echo IMAGE_PATH; ?>/geography2.jpg" alt="<?php echo $title; ?>" />

<h3><a name="germany">Германия</a></h3>
<p>
    Германия является крупнейшим европейским партнером России, и <strong>доставка грузов из Германии</strong>, как и курьерская доставка в Германию, являются одними из приоритетных направлений нашей деятельности. Кроме перевозки сборных грузов из Германии, Вы также можете с нашей помощью отправить груз в Германию. Срок доставки посылки из Германии составляет около 7-10 дней, включая таможенное оформление.
</p>

<h3><a name="italy">Италия</a></h3>
<p>
    Международные перевозки карго из Италии – это также весьма востребованное направление нашей деятельности. Мы занимаемся <strong>перевозкой сборных грузов из Италии</strong> и можем отправить Ваш груз в Италию.
</p>
<p>
    Чаще всего нам заказывают доставку и растаможку одежды из Италии или доставку обуви из Италии. Кроме доставки автотранспортом, мы предлагаем также курьерскую доставку из Италии и в Италию.
</p>

<h3><a name="turkey">Турция</a></h3>
<p>
    <strong>Доставка сборных грузов из Турции</strong> чаще всего требуется представителям малого бизнеса. Мы можем предложить доставку товаров (чаще всего – одежды) из Турции и отправку посылок в Турцию.
</p>

<h3><a name="uk">Англия или Великобритания</a></h3>
<p>
    Англия (или Великобритания) – это одна из крупнейших экономик Старого Света. И, естественно, один из крупнейших партнеров России в Европе. И столь же естественно мы предлагаем Вам доставку сборных грузов (карго) из Англии (Великобритании).  Предлагаемая нами <strong>доставка коммерческих посылок из Англии</strong>, а зачастую это доставка одежды из магазинов Англии, это серьезное подспорье отечественному бизнесу в работе с британскими контрагентами.
</p>

<h3><a name="usa">Финляндия</a></h3>
<p>
    Один из наших складов консолидации находится в Финляндии. <strong>Доставка грузов и посылок из Финляндии</strong> и растаможка грузов (карго) из Финляндии осуществляется через этот склад вместе сотправлениями со всего остального Мира.
</p>

<h3><a name="france">Франция</a></h3>
<p>
    Кроме Германии и Великобритании, нередко нам заказывают  доставку посылок и сборных грузов из Франции. Обычно это <strong>доставка одежды из Франции</strong>. 
</p>

<h3><a name="spain">Испания</a></h3> 
<p>
    А вот <strong>доставка карго товаров из Испании</strong> и доставка посылок из Испании, как и перевозка грузов в Испанию, по-прежнему актуальны! Хотя чаще всего речь идет также о доставке одежды из Испании.
</p>

<h2><a name="others">Другие страны</a></h2>
<p>
    Если вы не нашли вашу страну в списке, это не значит, что мы вам не поможем! Мы отправляем и доставляем посылки из <strong>всех стран мира</strong>. <a href="{{ locale.uri }}/contacts">Свяжитесь с нами</a> прямо сейчас и мы бесплатно проконсультируем Вас по выбору оптимального маршрута для Вашего груза!
</p>