<p>
    Business parcel delivery service specializes in commercial parcels delivery which requires customs clearance without any size limitation (starting from 1 piece, 1 kilo or 1 container).   
</p>
<p>
    We can deliver your parcel to both corporate and private clients. We offer fast international parcels delivery as well as decision of all attendant questions of purchase organization, customs clearance and optimization of costs.
</p>
<h3>Do you need to:</h3>
<ul class="ticks">
    <li>
        Deliver a batch of goods to Russian recipient next to his door without any difficulties connected with customs clearance?
    </li> 
    <li>
        Deliver or receive models or small-batch of goods which delivery and customs clearance cost too much?
    </li>
    <li>
        Receive a cargo from Russia, return defective goods or to ship models?
    </li>
    <li>
        Deliver or receive several business parcels or consignments simultaneously.
    </li>
</ul>

<img src="{{ image_path }}/delivery.jpg" alt="{{ page.title }}" />
<h3>Leave it to professionals</h3>
<p>
    We guarantee you lowest delivery rates and minimum customs taxes. We strive for the lowest delivery rates of goods and parcels.<br />
    You determine the urgency of your shipment and we help you choose the optimal transportation method to meet your deadlines.
</p>
<p>
    You do the business, we take care of the rest!
</p>
<h3>How to receive a cargo or a parcel from Russia</h3>
<p>
    <a href="{{ locale.uri }}/contacts">{{ 'Свяжитесь с нами'|trans }}</a> right now.
</p>
<ol>
    <li>
        Ask the sender to pack your cargo carefully so it is safe during the transportation.
    </li>
    <li>
        Pass the collection address (that we provide you with) to the sender. The sender should send the cargo to this address.
    </li>
    <li>
        Notify us of the shipping of the cargo (it would be great to name the invoice and tracking numbers).
    <li>     
    </li>
        Finally receive your cargo in the local transport company.
    </li>
</ol>
<p>
    That's all you need!
</p>
<h3>How to ship a cargo or a parcel from Russia?</h3>
<p>
    <a href="{{ locale.uri }}/contacts">{{ 'Свяжитесь с нами'|trans }}</a> right now.
</p>
<ol>
    <li>
        Pack your cargo carefully so it is safe during the transportation.
    </li>
    <li>
        Handle the cargo to us or send it to our collection warehouse.
    </li>
    <li>
        Provide us with the address, phone number and recipient's name.
    </li>     
</ol>
<p>
    That's all you need!
</p>