<p>
    Commercial <strong>parcel shipment from Russia</strong> becomes as easy as local delivery with us. Your Russian supplier will just need to forward freight to us and we will take care of all the export legalization formalities.
</p>
<p>
    Parcel delivery is usually carried out by <strong>international courier service</strong> (FedEx – Federal Express, DHL, TNT, UPS) by post or other method of transportations with prepaid or cash on delivery options, according to your instructions.
</p>
<img src="{{ image_path }}/export.jpg" alt="{{ page.title }}" />
<p>
    Parcel delivery is usually carried out by international courier service (FedEx – Federal Express, DHL, TNT, UPS) by post or other method of transportations with prepaid or <a href="{{ locale.uri }}/payment#receiver">cash on delivery</a> options, according to your instructions.
</p>
<p>
    Customs service during <strong>cargo export</strong> to the USA, China, Italy, Turkey, Germany, the UK (England) and any country in Europe or Asia is a real relief from long delays and denial risks. No cargo is too small for us.
</p>
<p>
    We also offer help in payment transactions with Russia suppliers, including control over fulfillment of contract conditions and obligations, guarding the interest of our client. You may find more information about his servise on <a href="{{ locale.uri }}/payment">payment transfer</a> page.
</p>
<p>    
    When sending several shipments simulatneously, we can distribute them to different regions or countries. You can learn more about this service on the <a href="{{ locale.uri }}/distribution">distribution page</a>.
</p>
<p>
    <a href="{{ locale.uri }}/contacts">{{ 'Свяжитесь с нами'|trans }}</a> right now and order a delivery.
</p>