<p>
    Our parcel delivery service can easily ship your freight from Russia <strong>worldwide</strong> or deliver to Russia from any country. With us Asia, Europe, North and South America become as close as the nearest town!
</p>
<img src="{{ image_path }}/geography.jpg" alt="{{ page.title }}" />

<h2><a name="asia">Asia</a></h2>
<h3 class="inner-header"><a href="{{ locale.uri }}/geography/china" name="china">China</a></h3>
<p>
    China is an absolute leader of international cargo import to Russia. We dedicated a whole page to <a href="{{ locale.uri }}/geography/china">shipping from China</a>.
</p>

<h3><a name="japan">Japan</a></h3>
<p>
    We also offer goods delivery from and to Japan through our European warehouses.       
</p>

<h2><a name="america">Americas</a></h2>
<h3 class="inner-header"><a name="usa">USA</a></h3>
<p>
    There is no difference between delivery from the USA and any other part of the world. International delivery of clothes from the USA, international delivery of electronics from the USA are among the most popular services of our company. Can we offer you a delivery and a <a href="{{ locale.uri }}/customs">customs clearance</a> of your cargo from the USA in Russia? Surely, we can offer you cheap delivery of cargo from the USA. We also offer <strong>consolidated cargo delivery</strong>, a shipment of packages from the USA stores and delivery of clothes and electronics to Russia.
</p>
<p>
    There are various methods of international cargo delivery from the USA: by courier services, by plane, be sea, using consolidated or full container load.
</p>

<h3><a name="canada">Canada</a></h3>
<p>
    Canada has a large economy. Although freight delivery from Canada to Russia is not a common practice, we can easily handle that.
</p>

<h2><a name="europe">Europe</a></h2>
<p>
    We carry out cargo delivery from all members of the European Union and beyond, our services include shipments of container load cargoes from Europe. We usually transport cargo from Europe by cars, rarely by plains. For parcels we prefer to use courier services.
</p>
<p>
    We can offer shipping of clothes from Europe at attractive rates for cubic meter.
</p>
<p>
    We can easily deliver your purchases from <strong>European shops</strong> to Russia.
</p>
<p>
    However, our speciality is international parcels delivery from Europe. And when managing several parcels we can arrange consolidation or even a container load cargo from Europe and we do not limit the size of your parcel.
</p>
<p>
    If necessary we can aid you in <a href="{{ locale.uri }}/payment">payment transfer</a> to your suppliers or you can receive money from your clients through our system. For further information on our delivery services please <a href="{{ locale.uri }}/contacts">contact us</a> now.
<p>
    When shipping several packages from different suppliers that are closely located, you may benefit from assembling items in one single shipment of <a href="{{ locale.uri }}/container#consolidation">consolidated freight from Europe</a> at our warehouse for its further transportation to your destination by any means of transport.
</p>
<p>
    We consolidate your cargo in our warehouse in Hamburg port (Lübeck city), Germany or in Lappeenranta, Finland.
</p>
<img src="{{ image_path }}/container.jpg" alt="{{ page.title|trans }}" />

<h3><a name="germany">Germany</a></h3>
<p>
    Germany is the primary European partner of Russia thus cargo shipment and courier delivery from Germany are of highest priority. We can offer you transportation <strong>consolidated freight from Germany</strong> as well as sending your cargo to Germany. It only takes 7-10 days to deliver your cargo from Germany, including customs clearing.
</p>

<h3><a name="italy">Italy</a></h3>
<p>
    International cargo delivery from Italy is, among the others, one of the major activities of our company. We transport less than container load from Italy and the other way around.
</p>
<p>
    We are often asked to deliver clothes from Italy and get them cleared by the customs. Apart from shipping by car, we also offer courier service from Italy.
</p>

<h3><a name="turkey">Turkey</a></h3>
<p>
    <strong>Consolidated freight delivery</strong> from Turkey is popular among small businesses. We offer delivery of all kinds of goods from Turkey (typically clothes) and shipment of cargo to Turkey.
</p>

<h3><a name="uk">United Kingdom</a></h3>
<p>
    The United Kingdom includes England, Scotland, Wales and Northern Ireland. It is one of the largest european economies of the Old World and Russian long-time trade partner. Using our service you can get <strong>consolidated cargo from England</strong> (UK). International delivery of commercial cargo from the UK is one of the baselines in the work with Russian contractors. A typical parcel may include clothes, hight quality electronic appliances or musical instruments.
</p>

<h3><a name="usa">Finland</a></h3>
<p>
    One of our consolidating warehouse is situated in Finland. International freight shipment from Finland and <strong>customs clearance from Finland</strong>, as well us shipping from all over the world is carried out through our warehouse.
</p>

<h3><a name="france">France</a></h3>
<p>
    We are frequently asked to deliver international parcels and consolidated cargo from France, as well as from Germany and UK. This route is most popular for transportation of consignments of clothes.
</p>

<h3><a name="spain">Spain</a></h3> 
<p>
    International cargo shipment from Spain and parcels delivery from Spain, as well as transportation of cargo to Spain are important for Russian-Spanish business. Usually this is the best way to transport clothing items.
</p>

<h2><a name="others">Other countries</a></h2>
<p>
    Если вы не нашли вашу страну в списке, это не значит, что мы вам не поможем! Мы отправляем и доставляем посылки из <strong>всех стран мира</strong>. <a href="{{ locale.uri }}/contacts">Свяжитесь с нами</a> прямо сейчас и мы бесплатно проконсультируем Вас по выбору оптимального маршрута для Вашего груза!
    If your country is not on the list, it doesn't mean we can't help! We receive and send parcels all over the world. <a href="{{ locale.uri }}/contacts">Contact us</a> right now and we will advise you on the best route for your freight!
</p>